html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
section{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 54px;
}
section h4{
    font-size: 15px;
    margin-bottom: 10px;
}
#inicio div{
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 16px;
    text-align: center;
}
.nombre{
    font-size: 45px;
    line-height: 100%;
}
.proyecto{
    padding: 16px;
    background-color: rgb(236,236,236);
    border-radius: 16px;
    margin-bottom: 16px;
}
.proyecto:hover{
    background-color: rgb(206, 206, 206);
}
.enlace-proyecto{
    text-decoration: none;
    color: black;

}
.enlace-proyecto:hover{
    color: rgb(70,70,70);

}
.profesion{
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 20px;
}
.bio{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.experiencia{
    margin-top: 20px;
    padding: 15px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 16px;
}
.exp_titu{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.exp_fecha{
    text-align: right;
    font-size: 7px;
    color: #666;
    top: 100px;
    margin-bottom: 10px;
}
.exp_descri{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.envoltura_habili{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.habilidad{
    width: fit-content;
    padding: 8px;
    border: 1px red solid ;
    border-radius: 16px;
}
.habilidad p{
    font-size: 10px;
    text-align: center;
    margin: 0;
}
