html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}
.experiencia{
    margin-left: 160px;
    margin-right: 200px;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 16px;
}