<footer>
    <p>
      Hecho por fjfh, Ver en <a href="https://github.com/fjfh06/portfolio-javi"
      >github</a
      >
      <p>2025</p>
    </p>
  
    <style>
      footer {
        display: flex;
        flex-direction: column;
        grid-area: footer;
        background-color: var(--gray-ultra-dark);
        align-items: center;
        padding: var(--card-padding);
      }
  
      p {
        text-align: center;
        padding: 8px;
      }
    </style>
  </footer>