<footer>
  <nav>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>
  </footer>
  <style>
    footer {
      width: 100%;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    nav {
      padding: 16px;
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
    }
  </style>